In [ ]:
data = [
    [
        "List all innovations with saved hours greater than 50.",
        "SELECT ImprovementName FROM Jidouka WHERE TotalTimeSaved > 50;",
        "{Tables: [Jidouka], Columns: [Jidouka.ImprovementName, Jidouka.TotalTimeSaved], Foreign keys: [], Possible cell values: [50]}",
        "What are the tools used in these innovations?",
        "SELECT DISTINCT Tool.ToolName FROM Tool JOIN JidoukaTool ON Tool.ToolId = JidoukaTool.ToolId JOIN Jidouka ON JidoukaTool.JidoukaId = Jidouka.JidoukaId WHERE Jidouka.TotalTimeSaved > 50;"
    ],
    [
        "Which design center groups worked on innovations launched in 2023?",
        "SELECT DISTINCT GroupDC.GroupDCName FROM GroupDC JOIN Jidouka ON GroupDC.GroupDCId = Jidouka.GroupDCId WHERE YEAR(Jidouka.DateCreate) = 2023;",
        "{Tables: [GroupDC, Jidouka], Columns: [GroupDC.GroupDCName, Jidouka.GroupDCId, Jidouka.DateCreate], Foreign keys: [Jidouka.GroupDCId=GroupDC.GroupDCId], Possible cell values: [2023]}",
        "What was the total time saved by these groups?",
        "SELECT GroupDC.GroupDCName, SUM(Jidouka.TotalTimeSaved) AS TotalSaved FROM GroupDC JOIN Jidouka ON GroupDC.GroupDCId = Jidouka.GroupDCId WHERE YEAR(Jidouka.DateCreate) = 2023 GROUP BY GroupDC.GroupDCName;"
    ],
    [
        "List all authors working in the department 'DC1'.",
        "SELECT Author.AuthorName FROM Author JOIN Department ON Author.DepartmentId = Department.DepartmentId WHERE Department.DepartmentName = 'DC1';",
        "{Tables: [Author, Department], Columns: [Author.AuthorName, Author.DepartmentId, Department.DepartmentName], Foreign keys: [Author.DepartmentId=Department.DepartmentId], Possible cell values: [DC1]}",
        "What innovations were created by these authors?",
        "SELECT Jidouka.ImprovementName FROM Jidouka JOIN Author ON Jidouka.AuthorId = Author.AuthorId WHERE Author.DepartmentId = (SELECT DepartmentId FROM Department WHERE DepartmentName = 'DC1');"
    ],
    [
        "Which tasks used 'Python AI Tool'?",
        "SELECT Job.JobName FROM Job JOIN Jidouka ON Job.JobId = Jidouka.JobId JOIN JidoukaTool ON Jidouka.JidoukaId = JidoukaTool.JidoukaId JOIN Tool ON JidoukaTool.ToolId = Tool.ToolId WHERE Tool.ToolName = 'Python AI Tool';",
        "{Tables: [Job, Jidouka, JidoukaTool, Tool], Columns: [Job.JobName, Tool.ToolName], Foreign keys: [Jidouka.JobId=Job.JobId, JidoukaTool.JidoukaId=Jidouka.JidoukaId, JidoukaTool.ToolId=Tool.ToolId], Possible cell values: ['Python AI Tool']}",
        "Who created these tasks?",
        "SELECT Job.JobName, Author.AuthorName FROM Job JOIN Jidouka ON Job.JobId = Jidouka.JobId JOIN Author ON Jidouka.AuthorId = Author.AuthorId WHERE Jidouka.JobId IN (SELECT JobId FROM JidoukaTool JOIN Tool ON JidoukaTool.ToolId = Tool.ToolId WHERE Tool.ToolName = 'Python AI Tool');"
    ],
    [
        "Find all innovations with 'Video Tutorials'.",
        "SELECT ImprovementName FROM Jidouka WHERE Video IS NOT NULL;",
        "{Tables: [Jidouka], Columns: [Jidouka.ImprovementName, Jidouka.Video], Foreign keys: [], Possible cell values: [Not Null]}",
        "What departments launched these innovations?",
        "SELECT DISTINCT Department.DepartmentName FROM Department JOIN Jidouka ON Department.DepartmentId = Jidouka.DepartmentId WHERE Jidouka.Video IS NOT NULL;"
    ],
    
    # Not related to schema
    [
        "What is the capital of Japan?",
        "The capital of Japan is Tokyo.",
        None,
        "What is the population of Japan?",
        "As of recent estimates, the population of Japan is approximately 125 million."
    ],
    [
        "Who is the president of the United States in 2024?",
        "The president of the United States in 2024 is Joe Biden.",
        None,
        "What is his vice president's name?",
        "His vice president is Kamala Harris."
    ],
    [
        "What is quantum computing?",
        "Quantum computing is a type of computing that uses quantum-mechanical phenomena like superposition and entanglement to perform computations.",
        None,
        "Can you explain quantum entanglement?",
        "Quantum entanglement is a phenomenon where particles become interconnected such that the state of one immediately influences the state of the other, regardless of distance."
    ],
    [
        "What is the highest mountain in the world?",
        "The highest mountain in the world is Mount Everest.",
        None,
        "Where is Mount Everest located?",
        "Mount Everest is located in the Himalayas, on the border between Nepal and Tibet."
    ],
    [
        "What is the stock market?",
        "I am not sure about that.",
        None,
        "How can I invest in stocks?",
        "I am not sure about that either."
    ],   




]

In [27]:
len(data)

186

In [28]:
import re
def modify_query(query):
    modified_query = re.sub(r"= '([^']*)'", r"LIKE LOWER('%\1%')", query)
    return modified_query

In [29]:
data2 = []
for i in range(len(data)):
    lst = []
    lst.append(data[i][0])
    lst.append(modify_query(data[i][1]))
    lst.append(data[i][2])
    lst.append(data[i][3])
    lst.append(modify_query(data[i][4]))
    data2.append(lst)

In [30]:
dct = {'previous_question':[], 'previous_answer':[], 'schema_linking':[], 'question':[], 'answer':[]}
for i in range(len(data2)):
    dct['previous_question'].append(data[i][0])
    dct['previous_answer'].append(data2[i][1])
    dct['schema_linking'].append(data2[i][2])
    dct['question'].append(data2[i][3])
    dct['answer'].append(data2[i][4])

In [31]:
import pandas as pd 
df3 = pd.DataFrame(dct)
df3 = df3.sample(frac=1)

In [32]:
len(df3)

186

In [ ]:
df3.to_csv('output.csv', index=False)